/*MAX SCREEN 575PX*/
*{
    box-sizing: border-box;
}

@media screen and (max-width:575px) {
    header{
        display: flex;
        top: 0px;
    }
    #nav-list{
        position:absolute;
    }
    #greet{
        margin: 0;
        position: sticky;
        color: wheat;
        width: 73%;
        background-image: linear-gradient(45deg,red,green,white);
        padding-left: 10px;
        top: 70px;
    }

    /*ABOUT*/
    #about{
        margin-top: 30px;
        padding: 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 83.9vh;
    }
    #about:target{
        display: block;
        padding: 0px;
        margin-top: 30px;
        background-size: 100% 100%;
        height: 83.9vh;
    }
    #about h3{
        padding-top: 40px;
        padding-bottom: 0;
        margin-bottom: 5px;
    }
    #about-content{
        margin: 0 auto;
        display: block;
        width: 90%;
        background-color: aliceblue;
        border-radius: 10px;  
        padding: 0;      
    }
    #about-content:hover{
        outline-style: solid;
        outline-width: 2px;
        outline-color: orange;
    }
    #about-content img{
        width: 100%;
        margin: 0;
        border-radius: 0;
        height: 345px;
        border-radius: 10px 10px 0px 0px;
    }
    #about-content img:hover{
        outline: none;  
    }
    #a2{
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 5px;
        font-size: 18px;
        border-radius: 0px 0px 10px 10px;

    }
    #a2:hover{
        outline: none;
        background-color: inherit;
        color: black;
    }

    /*EXPERIENCE*/
    #experience{
        display: block;
        margin: 0 auto;
        padding: 0;
        height: auto;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 88.3vh;
        display: none;
    }
    #experience:target{
        display: block;
        position: static;

    }
    #experience-content{
        display: block;
        padding: 0;
        margin: 0 auto;
    }
    #experience-content h3{
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    #experience1{
        margin: 10px auto;
        padding: 0;
        width: 90%;
        border-radius: 10px;
        outline-style: solid;
        outline-color: orange;
        outline-width: 2px;
        transition-duration: 1s;
    }
    #experience1 img{
        display: none;
    }
    #experience1 div{
        font-size: 21px;
        
    }
    #experience1 div:hover{
        background-color: aliceblue;
        color: black;
        border-radius: 10px;
        outline-style: solid;
        outline-color: red;
        outline-width: 2px;
        transition-duration: 1s;
    }

    /*CERTIFICATION*/
    #certification{
        display: none;
        height: 88.3vh;
    }
    #certification h3{
        padding-top: 100px;
    }
    #certification:target{
        display: block;
    }
    #certification1{
        border: none;
        border-radius: 10px;
    }
    #certification1 img{
        border-radius: inherit;
    }
    #certification1:hover{
        outline-style: solid;
        outline-width: 2px;
        outline-offset: 0px;
        outline-color: orange;
    }

    /*EDUCATION*/
    #education{
        display: none;
    }
    #education:target{
        display: none;
    }

    /*SKILLS*/
    #skills{
        display: block;
        margin: 0 auto;
        padding: 0;
        display: none;
        height: fit-content;
        background-attachment: fixed;
        background-size: cover;
    }
    #skills:target{
        display: block;
    }
    #skills-content{
        display: block;
        width: 100%;
        height: auto;
    }
    #skills1{
        width: 90%;
    }

    /*PROJECT*/
    #project{
        margin: 0 auto;
        padding: 0;
        height: fit-content;
    }
    #project1{
        margin: 20px auto;
        width: 90%;
    }
    iframe{
        padding: 0;
        margin: 0 auto;
        background-color: red;
    }
    #project-content{
        display: block;
    }
    /*CONTACT*/
    #contact{
        display: none;
        height: 88.3vh;
    }
}
