/*MAX SCREEN 575PX*/
*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
}

@media screen and (max-width:425px) {

    /*HEADER*/
    header{
        margin: 0 auto;
        padding: 0;
        width: 100%;
        display: block;
        height: 8vh;
    }

    #title{
        margin: 0 auto;
        text-align: left;
        padding: 0;
        width: 100%; 
        display: block;
    }

    #title a{
        margin-left: 15%;
        padding: 2px;
        color: red;
        display: inline-block;
        font-size: 25px;
        width: auto;
        height: inherit;
    }

    #lists{
        margin: 0 auto;
        padding: 0;
        background-image: inherit;
        width: 50%;
        position: fixed;
        height: 100%;
        left: -50%;
        transition-duration: 1s;
        top: 8vh;
    }

    #lists ul{
        display: block;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    
    #lists ul li a{
        margin: 0 auto;
        display: block;
        text-transform: capitalize;
        text-decoration: none;
        padding: 5px;
        color: white;
        font-weight: bold;
        width: 100%; 
    }

    #lists ul li a:hover{
        background-color: black;
    }
    /*MAIN*/
    main{
        margin: 8vh 0 0 0;
        height: auto;
        background-size: 100% 100%;
    }

    
    #about,#experience,#certification,#education,#skills,#project,#contact{
        display: none;
    }


    #greet{
        font-size: 15px;
        margin: 0 auto;
        padding: 0px;
    }
    #about{
        position: static;
        padding: 5px;
        display: block;
        width: 100%;
        height: fit-content;
    }
    #about h1{
        margin: 0px;
        padding: 10px;
        font-size: 30px;
    }
    #about-content{
        display: block;
        width: 100%;
        height: fit-content;
        margin: 0 auto;
    }
    #about-content #a1{
        margin: 0 auto;
        width: 100%;
        height: 200px;
        display: block;
        border: none;
        border-radius: 10px 10px 0 0;
    }
    #about-content #a2{
        width: 100%;
        padding: 10px;
        margin: 0 auto;
        height: fit-content;
        border-radius: 0 0 10px 10px;
    }
    #about-content #a1:hover,#about-content #a2:hover{
        outline: none;

    }
    #experience{
        background-image: inherit;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    #experience #experience-content{
        display: block;
        margin: 5px auto;
        width: 100%;
    }
    #experience1{
        display: flex;
        width: 90%;
        margin: 10px auto;
        padding: 0;
        border-radius: 10px;
    }
    #experience #experience-content #experience1 img{
        height: inherit;
        width: 60px;
        border-radius: 10px 0 0 10px;
    }
    #experience #experience-content #experience1 div{
        font-size: 15px;
        padding: 5px;
    }
    #certification{
        display: none;
    }
    #education-content{
        display: block;
        width: 100%;
        margin: 0 auto;
        
    }
    #education-content #education1{
        display: flex;
        margin: 10px auto;
        width: 90%;
        border-radius: 10px;
    }
    #education-content #education1 img{
        height: inherit;
        width: 60px;
        border-radius: 10px 0 0 10px;
    }
    #education-content #education1 div{
        padding: 5px;
    }
    #skills{
        width: 100%;
        padding: 0;
        margin: 0 auto;
        height: fit-content;
    }
    #skills-content{
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    #skills-content #skills1{
        width: 90%;
        margin: 5px auto;
    }
    #skills-content #skills1 .hide{
        display: none;
    }
    #project{
        margin: 0 auto;
        padding: 0;
        height: fit-content;
    }
    #project-content{
        display: block;
        width: 100%;
    }
    #project1{
        width: 90%;
        margin: 0 auto;
    }
    iframe{
        width: 100%;
    }
    
    #contact{
        display: block;
        margin: 0 auto;
        padding: 0;
    }
    #contact h1{
        font-size: 30px;
    }
    #contact-content{
        display: block;
    }
    #floating-anime{
        display: block;
        width: 100%;
        font-size: 30px;
    }

    #experience,#education,#skills,#project,#contact{
        position: static;
        display: block;
    }
}