/*MAX SCREEN 575PX*/
*{
    box-sizing: border-box;
}
@media screen and (max-width:575px) {

    /*HEADER*/
    header{
        display: flex;
    }
    #title{
        margin: 0 auto;
        padding: 5px;
        text-align: left;
        font-size: 18px;
        width: 70%;
        color: black;
    }
    header #greet{
        width: 100%;
        color: black;
        display: block;
    }

    #navigation{
        width: 30%;
        padding: 20px 0px 0px 10%;

    }
    #nav img{
        display: block;
        float: unset;
    }
    #nav-list{
        font-size: 14px;
        box-shadow: -1px 2px 20px black ;
        top: 70px;
        position: fixed;
        display: none;
    }
    #nav:hover #nav-list{
        display: block;   
        right: 0px;
        top: 70px;
        position: fixed;
    }

    /*MAIN*/
    main{
        margin: 110px 0 0 0;
        height: 78vh;
        background-image: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4wB6z?ver=eddc");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    /*about*/
    #about{
        width: 100%;
        height: inherit;
        position: static;
        display: none;
    }
    #about h3{
        padding: 0;
        margin: 0;
    }
    #about-content{
        margin: 0 auto;
        display: block;
        width: 90%;
    }
    #about-content:hover{
        outline-style: solid;
        outline-color: orange;
        outline-width: 2px;
        border-radius: 10px;
    }
    #about-content img{
        margin: 0 auto;
        width: 100%;
        display: block;
        height: 300px;
        border-radius: 10px 10px  0px 0px;
    }
    #about-content img:hover{
        outline: none;
        
    }
    #about-content div{
        width: 100%;
        padding: 10px;
        margin: 0 auto;
        border-radius: 0px 0px  10px 10px;
        font-size: 20px;
        word-spacing: normal;
    }
    #hide{
        display: none;
    }
    #about-content div:hover{
        outline: none;
        background-color: aliceblue;
        color: inherit;
    }
    
    /*EXPERIENCE*/
    #experience{
        margin: 110px 0 0 0;
        padding: 0px;
        width: 100%;
        height: 78vh;
        display: none;
    }
    #experience h3{
        margin: 0;
        padding: 0;
    }
    #experience-content{
        display: block;
    } 
    #experience1{
        margin: 10px auto;
        width: 90%;
        display: flex;
        border-radius: 10px;
    }
    #experience1 img{
        width: 100px;
        height: 100px;
        border-radius: 10px 0px 0 10px;
    }
    #experience1:hover{
        outline-style: solid;
        outline-color: orange;
        outline-width: 2px;
        background-color: aliceblue;
        color: inherit;
    }
    #experience1 div{
        padding-top: 20px;
    }

    /*CERTIFICATION*/
    #certification{
        margin: 110px 0 0 0;
        width: 100%;
        padding: 110px 0;
        height: 78vh;
        display: none;
    }

    /*EDUCATION*/
    #education{
        margin: 110px 0 0 0;
        width: 100%;
        padding: 0;
        height: 78vh;
        display: none;
    }
    #education h3{
        margin: 0;
        padding: 0;
    }
    #education-content{
        margin: 0 auto;
        display: block;
    }
    #education-content #education1{
        margin: 10px auto;
        display: flex;
        width: 90%;
        background-color: teal;
        border-radius: 10px;
    }
    #education-content #education1 img{
        width: 100px;
        height: 100px;
        border-radius: 10px 0px 0 10px;
    }
    #education-content #education1:hover{
        outline-style: solid;
        outline-color: orange;
        outline-width: 2px;
        background-color: aliceblue;
        color: inherit;
    }
    #education-content #education1 div{
        padding:18px 10px;
    }

    /*SKILLS*/
    #skills{
        margin: 110px 0 0 0;
        width: 100%;
        padding: 0;
        height: auto;
    }
    #skills h3{
        padding: 0;
        margin: 0;
    }
    #skills-content{
        display: block;
        margin: 0 auto;
        width: 100%;
        padding: 9px;
    }
    #skills1 h4{
        padding: 0;
        margin: 0;
    }
    #skills1{
        margin: 10px auto;
        width: 90%;
        padding: 8px 0 8px 30px;
    }

    /*PROJECTS*/
    #project{
        margin: 110px 0 0 0;
        width: 100%;
        padding: 0px 10px 2px 10px;
        height: auto;
        height: 78vh;
    }
    #project h3{
        padding: 0;
        margin: 0;
    }
    #project-content{
        margin: 0 auto;
        display:block;
        padding: 0;
    }
    #project1{
        margin: 10px auto;
        width: 80%;
        border-radius: 20px;
    }
    #project1:hover{
        outline-style: solid;
        outline-color: orange;
        outline-width: 2px;
        background-color: rgb(89, 212, 32);
        color: inherit;
    }
    iframe{
        padding: 0;
        margin: 0 auto;
        background-color: red;
        width: 100%;
        resize: none;
        border-radius: 20px 20px 0 0;
        height: 170px;
    }

    /*CONTACT*/

    #contact{
        margin: 110px 0 0 0;
        width: 100%;
        height: 78vh;
        color: wheat;
    }
    #floating-anime,#about,#experience,#certification,#education,#skills,#project,#contact,footer{
        position: static;
    }
    @keyframes myanime{
        0%{
            top: 0px;
            left: 0px;
        }
        10%{
            top: 0px;
            left: 0px;
        }
        20%{
            top: 0;
            left: 0;
        }
        30%{
            top: 34.5vh;
            left: 42%;
        }
        40%{
            top: 34.5vh;
            left: 42%;
        }
        50%{
            top: 34.5vh;
            left: 42%;
        }
        60%{
            top: 34.5vh;
            left: 42%;                                
        }
        70%{
            top: 34.5vh;
            left: 0; 
        }  
        80%{
            top: 34.5vh;
            left: 0;
        }
        90%{
            top: 0px;
            left: 0px;
        }
        100%{
            top: 0px;
            left: 0px;
        }
    }
    #floating-anime{
        margin: 110px 0 0 0;
        animation-name: myanime;
        animation-duration: 10s;
        top: 150px;
        left: 142px;
        animation-iteration-count: infinite;
        width: 300px;
        height: 300px;
        position: relative;
        animation-delay: 10s;
        display: none;
    }
    #floating-anime:target{
        display: block;
        position: relative;
    }
    #floating-anime:hover{
        animation: none;
    }
    #floating-anime1,#floating-anime2{
        font-size: 35px;
        margin-bottom: 10px;
    }
    #ngui-ici{
        display: none;
    }
}


/*MAX SCREEN 480PX*/
@media screen and (max-width:480px) {
    body{
        font-size: 80%;
    }
    
}

/*MAX SCREEN 360PX*/
@media screen and (max-width:360px){
    
}
