*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*HEADER*/
header{
    width: 100%;
    margin: 0;
    padding: 0;
}

#title{
    margin: 0 auto;
    color: orange;
    width: 80%;
    font-size: 50px;
    text-align: center;
    padding: 0px;
    text-shadow: 2px 0px white,-2px 0px blue,0px -1px aqua;
}
#header div a{
    text-transform: capitalize;
    font-size: 22px;
}

/*MAIN*/
main{
    margin: 0 auto;
    padding: 0;
}
#greet{
    margin: 0 auto;
    padding: 0 0 0 10px;
    font-size: 30px;
    color: white;
    background-image: linear-gradient(45deg,red,green,white);
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 89.5px;
}
#image2{
    width: 50px;
    height: 50px; 
    border: none;
    border-radius: 50%;
}

/*ABOUT*/
#about{
    position:absolute;
    margin:0 auto;
    width: 88%;
    background-image: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4wB6z?ver=eddc");
    background-size: 100% 100%;
    height: 80vh;  
}
#about h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 60px;
}
#about-content{
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    color: black;
}
#about-content img{
    margin: 0 auto;
    width: 40%;
    height: 400px;
    border-radius: 10px;  
}
#about-content img:hover{
    outline-style: solid;
    outline-color: orange;
    outline-width: 3px;    
}
#a2{
    margin: 0 auto;
    width: 55%;
    background-color: aliceblue;
    border-radius: 10px; 
    padding: 100px 20px;
    font-size: 30px;
    word-spacing: 3px;
}
#a2:hover{
    outline-style: solid;
    outline-color: orange;
    outline-width: 3px;
    background-color: teal;
    color: white;
}
i{
    font-weight: bold;
    font-style: normal;
    text-transform: capitalize;
}
#about:target{
    display: block;
}

/*EXPERIENCE*/
#experience{
    position:absolute;
    margin:0 auto;
    width: 88%;
    background-image: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4wB6z?ver=eddc");
    display: none;
    background-size: 100% 100%;
    height: 80vh;     
}
#experience h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 60px;
}
#experience-content{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
    
#experience1{
    width: 20%;
    margin: 10px;
    background-color: teal;
    color: white;
}
#experience1 div{
    padding: 10px;
    text-transform: capitalize;
    font-weight: bold;
}
#type{
    display: none;
}
#experience1 img{
    width: 100%;
    height: 200px;
}
#experience:target{
    display: block;
}

/*CERTIFICATION*/
#certification{
    position:absolute;
    margin:0 auto;
    width: 88%;
    background-image: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4wB6z?ver=eddc");
    display: none;
    background-size: 100% 100%;
    height: 80vh;      
}
#certification h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 60px;
}
#certification-content{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
#certification-content div{
    width: 30%;
    margin: 10px;
    background-color: teal;
    color: white;
}
#certification1 img{
    width: 100%;
    height: 200px;
}
#certification:target{
    display: block;
}

/*EDUCATION*/
#education{
    position:absolute;
    margin:0 auto;
    width: 88%;
    background-image: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4wB6z?ver=eddc");
    display: none;
    background-size: 100% 100%;
    height: 80vh;      
}
#education h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 60px;
}
#education-content{
    display: flex;
    justify-content: center;

}
#education-content #education1{
    width: 20%;
    margin: 10px;
    background-color: teal;
    font-weight: bold;
    color: aliceblue;
    text-transform: capitalize;
}
#education1 img{
    width: 100%;
    height: 200px;
}
#education:target{
    display: block;
}

/*SKILLS*/
#skills{
    position:absolute;
    margin:0 auto;
    width: 88%;
    background-image: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4wB6z?ver=eddc");
    display: none;
    background-size: 100% 100%;
    height: 80vh;     
}
#skills h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 60px;
}
#skills-content{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
}
#skills1{
    width: 30%;
    background-color: teal;
    margin: 20px;
    color: whitesmoke;
    text-transform: capitalize;
    padding: 30px;
    border: none;
    border-radius: 10px/60%;
}
#skills1 ul{
    list-style-type: disc;
}
h4{
    text-align: center;
    color: white;
    font-size: 20px;
}
#skills1:hover{
    background-color: aliceblue;
    color: black;
    transition-duration: 2s;
    outline-style: solid;
    outline-color: orange;
    outline-width: 2px;

}
#skills1:hover h4{
    color: red;
}
#skills:target{
    display: block;
}

/*PROJECTS*/
#project{
    position:absolute;
    margin:0 auto;
    width: 88%;
    background-image: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4wB6z?ver=eddc");
    display: none;
    background-size: 100% 100%; 
    height: 80vh;  
}
#project h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 60px;
}
#project-content{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
 
}
#project1{
    width: 500px;
    background-color: teal;
    margin: 20px;color: white;
    font-weight: bold;
    text-transform: capitalize;
}
#project1 p{
    padding: 10px;
}
iframe{
    width: 100%;
    height: 300px;
    outline: none;
    border: none;
}
#project:target{
    display: block;
}

/*CONTACT*/
#contact{
    position:absolute;
    margin:0 0;
    width: 88%;
    background-image: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4wB6z?ver=eddc");
    display: none;
    background-size: 100% 100%; 
    height: 80vh;  
}
#contact h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 60px;
}
#contact-content{
    display: flex;
    justify-content: center;
    
}
ul{
    list-style-type: none;
}
#contact h3{
    padding-top: 140px;
}
#contact:target{
    display: block;
}

/*FOOTER*/
footer{
    background-color: rgb(58, 44, 44);
    color: white;
    height: 40px;
    padding: 10px;
    text-transform: capitalize;
    text-align: right;
    font-family:monospace;
    font-size: 19px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#floating-anime{
    margin: 0 auto;
    position: absolute;
    right: 0;
    bottom: 40px;
    width: 163px;
    height: 180px;
    padding: 30px 10px;
    background-image: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4wB6z?ver=eddc");
    background-size: 98% 98%;
    background-repeat: no-repeat;
    background-position: center;
    color: aliceblue;
}

/*ANIMATION*/
@keyframes myanime1{
    0%{
        bottom: 40px;
        right: 0;
        opacity: 0;
        background-color: black;
    }
    20%{
        bottom: 40px;
        right: 0;
    }
    20%{
        bottom: 40px;
        right: 0;    
    } 
    30%{
        bottom: 40px;
        right: 0;
    }
    40%{
        bottom: 40px;
        right: 0;
    }
    50%{
        bottom: 40px;
        right: 0;

    }
    60%{
        bottom: 40px;
        right: 0;
    }
    70%{
        bottom: 40px;
        right: 0;
    }
    80%{
        bottom: 40px;
        right: 0;
    }
    90%{
        bottom: 40px;
        right: 0;
    }
    100%{
        bottom: 40px;
        right: 0;
    }
    
}

@keyframes myanime2{
    0%{
        bottom: 40px;
        right: 0;
    }
    20%{
        bottom: 40px;
        right: 0;
    }
    20%{
        bottom: 40px;
        right: 0;    
    } 
    30%{
        bottom: 40px;
        right: 0;
    }
    40%{
        bottom: 40px;
        right: 0;
    }
    50%{
        bottom: 40px;
        right: 0;
    }
    60%{
        bottom: 40px;
        right: 0;
    }
    70%{
        bottom: 40px;
        right: 0;
    }
    80%{
        bottom: 40px;
        right: 0;
    }
    90%{
        bottom: 40px;
        right: 0;
        opacity: 0;
        background-color: black;
    }
    100%{
        bottom: 40px;
        right: 0;
    }
    
}

#floating-anime div{
    padding: 10px;
    margin: 5px auto;
    background-color: red;
    border-radius: 5px;
    
    font-weight: bold;
}
#floating-anime1{
    animation-name: myanime1;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-delay: 5s;
}
#floating-anime2{
    animation-name: myanime2;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
#floating-anime div a{
    color: white;
    background-color: green;
    text-decoration: none;
    font-weight: bold;
    padding: 1px;
    padding: 2px;
    border-radius: 10px;
    margin-top: 5px;
}
#floating-anime div a:hover{
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
}
#floating-anime div:hover{
    border: none;
    outline-style: solid;
    outline-color: orange;
    outline-width: 2px;
    border-radius: 5px;
    background-color: greenyellow;
    color: black;
}
#floating-anime1:hover,#floating-anime2:hover{
    animation: none;
}
