@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

#root {
  min-height: 100vh;
  display: flex;
}

/*Sidebar */
.sidebar {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f4f9;
  padding: 25px 15px;

  img {
    width: 20px;
    border-radius: 50%;
  }

  .menu {
    display: block;
    margin-left: 10px;
    cursor: pointer;
  }

  .new-chat {
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: grey;
    text-transform: capitalize;
  }

  .sidebar.recent {
    display: flex;
    flex-direction: column;
  }

  .recent-title {
    margin-top: 30px;
    margin-bottom: 20px;
    text-transform: capitalize;
  }

  .recent-entry {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
  }

  .recent-entry:hover {
    background-color: #e6eaf1;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
  }

  .bottom-item {
    padding: 10px;
    cursor: pointer;
  }

}

/*Main */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 10px;
    color: #585858;
    
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

  }

  .main-container {
    margin: auto;
    font-size: 40px;
    font-weight: 900;

    span {
        background-image: linear-gradient(16deg, #4b90ff, #ff5546);
        background-clip: text;
        color: transparent;
    }

  }

  .search-box{
    display: flex;
    border-radius: 50px;
    align-items: center;
    background-color: #f0f4f9;
    justify-content: space-between;
    margin: 0 20px 20px;
    padding: 10px;

    input{
      flex: 1;
      font-size: 22px;
      border: none;
      outline: none;
      background-color: inherit;
      padding-left: 10px;

      ::placeholder{
        font-size: 22px;
        color:#585858;
      }
    }

    div{
      display: flex;
      justify-content: space-between;

      img{
        width: 20px;
      }
    }
  }

}

@media screen and (max-width:425px) {

  #root{
    display: block;
    margin: 0 auto;
  }

  .sidebar{
    display: none;
  }

  .main{
    min-height: 100vh;

    .search-box{
      margin: 0 auto;
      padding: 10px;
    }
  }
  
}
